body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1, h2 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project-img {
    max-width: 25%;
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes bottom space */
    margin: 10px 0; /* Optional: adds space around the image */
}

